*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fad6a5;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    justify-content: flex-end;
}

.title{
    font-size: 72px;
    color: #453823;
    text-decoration: none;
    margin: 5px;
}

.search {
    border: 1px solid #d1d5db;

    margin-right: 1px;
    width: 250px;
    padding: 10px 10px;
    border-radius: 12px;
}

.search__input {
    border-color: transparent;
}

.btn{
    outline: none;
    background-color: #fad6a5;
    color: #453823;
    border: none;
    width: 90px;
    padding: 10px 10px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
    margin-right: 5px;
}

.btn:hover{
    background-color: #f7e7ce;
    color: #453823;
}

.display-photo{
    border-radius: 50%;
    width: 200px;
    margin-left: 100px;
    margin-top: 50px;
}

.profile{
    top: 0;
    display: flex;
    align-items: center;
}

.username{
    font-size: 32;
    margin-left: 15px;
}